.form {
	display: block;
}

fieldset {
	border: 0;
	margin-top: 10px;
}

.success {
	background-color: aquamarine;
	color: black;
	display: inline-block;
	width: 100%;
	margin-bottom: 1em;
}

.failed {
	background-color: darksalmon;
	color: black;
	display: inline-block;
	width: 100%;
	margin-bottom: 1em;
}

.alert {
	position: absolute;
	max-width: 500px;
	width: 100%;
}

.form {
	margin-top: 5rem;
}
