@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-black: hsla(220, 13%, 18%, 1);
	--color-gray-dark: hsla(220, 13%, 25%, 1);
	--color-white: hsla(220, 13%, 98%, 1);
	--color-gray-light: hsla(220, 13%, 94%, 1);
	--color-emerald-green: hsla(168, 92%, 25%, 1);
	--color-vermillion-green: hsla(168, 92%, 43%, 1);
	--color-cobalt-blue: hsla(215, 100%, 34%, 1);
	--color-pastel-blue: hsla(215, 100%, 73%, 1);
	--color-red: hsl(0, 68%, 42%);

	--color-accent: var(--color-pastel-blue);
	--color-bg: var(--color-black);
	--color-bg-well: var(--color-gray-dark);
	--color-error: var(--color-red);
	--color-text: var(--color-white);

	/* background-color: #f8998b; */
}

@media screen and (prefers-color-scheme: light) {
	:root {
		--color-accent: var(--color-cobalt-blue);
		--color-bg: var(--color-white);
		--color-bg-well: var(--color-gray-light);
		--color-text: var(--color-black);
	}
}

:root.theme-light {
	--color-accent: var(--color-cobalt-blue);
	--color-bg: var(--color-white);
	--color-bg-well: var(--color-gray-light);
	--color-text: var(--color-black);
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

/**
 * Make sure the app fills the height of the viewport
 */
html,
body,
#root,
#root > * {
	min-height: 100vh;
}

html {
	font-size: 62.5%;
}

body {
	/* color: var(--color-text); */
	font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
		helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
	font-size: 1.6rem;
	line-height: 1.4;
	margin: 0;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	/* --color-bg: var(--color-gray-dark); */
	/* --color-text: var(--color-accent); */

	/* background-color: var(--color-bg); */
	border-radius: 4px;
	/* color: var(--color-text); */
	display: inline-block;
	font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
		monospace;
	font-size: 0.9em;
	padding: 0.15em 0.15em;
}

@media screen and (prefers-color-scheme: light) {
	code {
		/* --color-bg: var(--color-gray-light); */
	}
}

:root.theme-light code {
	/* --color-bg: var(--color-gray-light); */
}

ul {
	padding: 0;
}

.boxShadow {
	box-shadow: 0 30px 28px hsl(0deg 0% 0% / 0.3);
}

.custom-radio-btn {
	display: inline-flex;
	align-items: center;
	cursor: pointer;
	margin-right: 15px;
}

.radio-input {
	display: none;
}

.radio {
	position: relative;
	width: 1.25em;
	height: 1.25em;
	border: 2px solid #bcc7c5;
	border-radius: 50%;
	margin-right: 10px;
	box-sizing: border-box;
	padding: 2px;
}

.radio .checkmark {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #ffbf00;
	display: none;
}

.radio input[type='radio']:checked ~ .checkmark {
	display: block;
}

@layer components {
	.layout {
		@apply bg-white flex flex-col m-auto max-w-[100vw] pt-4;
	}
	.Layout-main {
		@apply m-auto max-w-[95vw] w-[95%];
	}
	.Nav {
		@apply flex items-center justify-between mt-auto sticky text-black h-60 w-full;
	}
	.Nav-link {
		@apply w-1/2 flex items-center justify-center;
	}
	.Nav-link.active {
		@apply bg-bgHome h-full rounded-tl-[10rem];
	}
	.form {
		@apply mt-11 text-black;
	}
	.fieldsetClass {
		@apply border-0 mt-[10px];
	}
	.success {
		@apply text-green-500 inline-block w-full mb-4 font-bold;
	}
	.failed {
		@apply text-red-500 inline-block w-full mb-4 font-bold;
	}
	.alert {
		@apply absolute max-w-[500px] w-full;
	}
	.btn-primary {
		@apply py-2 px-4 bg-amber-400 text-white font-semibold rounded-lg shadow-md hover:bg-amber-500 focus:outline-none focus:ring-2 focus:ring-amber-400 focus:ring-opacity-75;
	}
}
