@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-black: hsla(220, 13%, 18%, 1);
	--color-gray-dark: hsla(220, 13%, 25%, 1);
	--color-white: hsla(220, 13%, 98%, 1);
	--color-gray-light: hsla(220, 13%, 94%, 1);
	--color-emerald-green: hsla(168, 92%, 25%, 1);
	--color-vermillion-green: hsla(168, 92%, 43%, 1);
	--color-cobalt-blue: hsla(215, 100%, 34%, 1);
	--color-pastel-blue: hsla(215, 100%, 73%, 1);
	--color-red: hsl(0, 68%, 42%);

	--color-accent: var(--color-pastel-blue);
	--color-bg: var(--color-black);
	--color-bg-well: var(--color-gray-dark);
	--color-error: var(--color-red);
	--color-text: var(--color-white);

	background-color: pink;
}

@media screen and (prefers-color-scheme: light) {
	:root {
		--color-accent: var(--color-cobalt-blue);
		--color-bg: var(--color-white);
		--color-bg-well: var(--color-gray-light);
		--color-text: var(--color-black);
	}
}

:root.theme-light {
	--color-accent: var(--color-cobalt-blue);
	--color-bg: var(--color-white);
	--color-bg-well: var(--color-gray-light);
	--color-text: var(--color-black);
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

/**
 * Make sure the app fills the height of the viewport
 */
html,
body,
#root,
#root > * {
	min-height: 100vh;
}

html {
	font-size: 62.5%;
}

body {
	/* color: var(--color-text); */
	font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
		helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
	font-size: 1.6rem;
	line-height: 1.4;
	margin: 0;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	/* --color-bg: var(--color-gray-dark); */
	/* --color-text: var(--color-accent); */

	/* background-color: var(--color-bg); */
	border-radius: 4px;
	/* color: var(--color-text); */
	display: inline-block;
	font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
		monospace;
	font-size: 0.9em;
	padding: 0.15em 0.15em;
}

@media screen and (prefers-color-scheme: light) {
	code {
		/* --color-bg: var(--color-gray-light); */
	}
}

:root.theme-light code {
	/* --color-bg: var(--color-gray-light); */
}

ul {
	padding: 0;
}

.boxShadow {
	box-shadow: 0 30px 28px hsl(0deg 0% 0% / 0.3);
}

@layer components {
	.layout {
		@apply flex flex-col m-auto max-w-[100vw] pt-4;
	}
	.Layout-main {
		@apply m-auto max-w-[95vw] w-[95%];
	}
	.Nav {
		@apply bg-white flex items-center justify-around mt-auto sticky text-black h-60 w-full rounded-tl-[10rem];
	}
	.form {
		@apply mt-11;
	}
	.fieldsetClass {
		@apply border-0 mt-[10px];
	}
	.success {
		@apply bg-green-300 text-black inline-block w-full mb-4;
	}
	.failed {
		@apply bg-red-800 text-white inline-block w-full mb-4;
	}
	.alert {
		@apply absolute max-w-[500px] w-full;
	}
}
